<tbody>
  <% @songs.each do |song| %>
    <td>Title: <%= song.title %></td>
    <td>Release Year: <%= song.release_year %></td>
    <td>Artist Name: <%= song.artist_name %></td>
    <td>Genre: <%= song.genre %></td>
  <% end %>
